@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    color: #ededed;
    background: #022333;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.logo{
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.navbar a{
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.3s;
}

.navbar a:hover,.navbar a.aktif{
    color: #8FD9FB;
}

.hakkimda{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.hakkimda-cont{
    max-width: 600px;
}

.hakkimda-cont h1{
    font-size: 56px;
    font-weight: 700;
}

.hakkimda-cont h3{
    font-size: 32px;
    font-weight: 700;
    color: lightcoral;
}

.hakkimda-cont p{
    font-size: 16px;
}

